<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ke.co.besure.besure">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the 'MyLocation' functionality. 
    -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <provider
            android:name=".provider.PharmacyProvider"
            android:authorities="ke.co.besure.provider.pharm"
            android:exported="false"
            android:label="Pharmacies"
            android:syncable="true" />
        <provider
            android:name=".provider.FAQProvider"
            android:authorities="ke.co.besure.provider"
            android:exported="false"
            android:label="FAQs"
            android:syncable="true" />
        <provider
            android:name=".provider.HIVFactProvider"
            android:authorities="ke.co.besure.provider.hivfact"
            android:exported="false"
            android:label="HIV Facts"
            android:syncable="true" />
        <provider
            android:name=".provider.ReproHealthProvider"
            android:authorities="ke.co.besure.provider.reprohealth"
            android:exported="false"
            android:label="Reproductive Health"
            android:syncable="true" />

        <activity
            android:name=".activity.SplashActivity"
            android:theme="@style/splashtheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity
            android:name=".activity.OnboardingActivity"
            android:theme="@style/splashtheme" />
        <activity android:name=".activity.MainActivity" />
        <activity
            android:name=".activity.PharmacyActivity"
            android:parentActivityName=".activity.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.MainActivity" />
        </activity>
        <activity
            android:name=".activity.PharmacyMapActivity"
            android:parentActivityName=".activity.PharmacyActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.PharmacyActivity" />
        </activity>
        <activity
            android:name=".activity.PharmacyMapsActivity"
            android:label="@string/title_activity_pharmacy_maps"
            android:parentActivityName=".activity.PharmacyActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.PharmacyActivity" />
        </activity>
        <activity
            android:name=".activity.ReferralsActivity"
            android:parentActivityName=".activity.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.MainActivity" />
        </activity>
        <activity
            android:name=".activity.ReferralMapsActivity"
            android:label="@string/title_activity_referral_maps"
            android:parentActivityName=".activity.ReferralsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.ReferralsActivity" />
        </activity>
        <activity
            android:name=".activity.FAQActivity"
            android:parentActivityName=".activity.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.MainActivity" />
        </activity>
        <activity
            android:name=".activity.ConductTest"
            android:parentActivityName=".activity.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.MainActivity" />
        </activity>
        <activity
            android:name=".activity.CondomActivity"
            android:parentActivityName=".activity.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.MainActivity" />
        </activity>
        <activity
            android:name=".activity.ResourcesActivity"
            android:parentActivityName=".activity.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.MainActivity" />
        </activity>
        <activity
            android:name=".activity.ReportProblemActivity"
            android:parentActivityName=".activity.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.MainActivity" />
        </activity>
        <activity
            android:name=".activity.HealthLivingActivity"
            android:parentActivityName=".activity.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.MainActivity" />
        </activity>
        <activity
            android:name=".activity.HIVFactActivity"
            android:parentActivityName=".activity.ResourcesActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.ResourcesActivity" />
        </activity>
        <activity
            android:name=".activity.ReproHealthActivity"
            android:parentActivityName=".activity.ResourcesActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.ResourcesActivity" />
        </activity>
        <activity android:name=".activity.GeneralWebView"></activity>
    </application>

</manifest>